<!DOCTYPE html>
<html>
<head>
  <!-- Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design for Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.16/css/mdb.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap" rel="stylesheet">
  <style>
      p{
          font-size: larger;
          font-family:'Baloo Thambi 2', cursive;
       }
      .mycustom-jumbotron {
            width: 300px;
            margin-top: 180px;
            margin-left: 825px;
        }
  </style>
</head>
<body>
    <div align="middle" class = " jumbotron mycustom-jumbotron" style="border-radius:50px 50px 50px 50px;">
        <form method="POST">
            {% csrf_token %}
            <p>Grade</p>
            <input type="number" name="Grade" placeholder="Grade"><br/>
            <p>Section</p>
            <input type="text" name="sec" placeholder="Section Name"><br/>
            <p>Teacher 1</p>
            <input type="text" name="1" placeholder="Teacher`s Name"><br/>
            <p>Teacher 2</p>
            <input type="text" name="2" placeholder="Teacher`s name"><br/>
            <p>Email 1</p>
            <input type="email" name="m1" placeholder="Email"><br/>
            <p>Email 2</p>
            <input type="email" name="m2" placeholder="Email"><br/>
            <input type="submit" placeholder="Submit" class="btn btn-info btn-lg">
        </form>
    </div>
</body>
</html>