<!DOCTYPE html>
<html>
   {% load sel_extras %}
<title>Selecting Task</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="static/sel/main.css">
<body>

<div class="bgimg w3-text-black">
  <div class="w3-display-middle w3-large">
   {% if request.user|has_group:"student" %}
     <a href="library/issued_books" class="w3-button w3-yellow">Issued Books</a></br>
     <a href="library/issue" class="w3-button w3-yellow">Issue Book</a></br>
   {% endif %}
   {% if request.user|has_group:"teacher" %}
      <a href="database" class="w3-button w3-yellow">View Database</a></br>
      <a href="database/latebooks" class="w3-button w3-yellow">Late Dues</a></br>
   {% endif %}
   {% if  user.is_superuser %}
     <a href="admin_panel" class="w3-button w3-yellow">Admin Tasks</a>
   {% endif %}
  </div>
<div>
{% for message in messages %}
   <font color ='black'><h3> {{message}} </h3></font>
{% endfor %}

</div>
</body>
</html>
