<!DOCTYPE html>
<head>
  <!-- Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design for Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.16/css/mdb.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap" rel="stylesheet">
  <style>
      p{
          font-size: larger;
          font-family:'Baloo Thambi 2', cursive;
       }
       b{
           color: red;
       }
      .mycustom-jumbotron {
            width: 300px;
            margin-top: 180px;
            margin-left: 825px;
        }
  </style>
</head>
<body>
    <div align="middle" class = " jumbotron mycustom-jumbotron" style="border-radius:50px 50px 50px 50px;">
        {% for message in messages %}
            <b>{{message}}</b>
        {% endfor %}
        <form method="POST">
            {% csrf_token %}
            <p>Student Id</p>
            <input type="number" name="student_id" placeholder="Student id"><br/>
            <p>HSEA Code</p>
            <input type="number" name="code" placeholder="HSEA Code"><br/>
            <input type="submit" placeholder="Submit" class="btn btn-info btn-lg">
        </form>
    </div>
</body>